.page[data-v-50f0bb17]{display:flex;justify-content:flex-start;align-items:center;flex-flow:row wrap}.list_item[data-v-50f0bb17]{font-size:18px}.list_item~.list_item[data-v-50f0bb17]{margin-left:18px}
