.page[data-v-4d30b41b]{display:flex;justify-content:flex-start;align-items:center;flex-flow:row wrap}.list_item[data-v-4d30b41b]{font-size:18px}.list_item~.list_item[data-v-4d30b41b]{margin-left:18px}
