.collapse-content[data-v-847690c6]{background:#17191a;color:#666}.collapse-content[data-v-847690c6] .el-collapse-item__header,.collapse-content[data-v-847690c6] .el-collapse-item__content{padding:0 12px;box-sizing:border-box}
