.page[data-v-84157a4a]{display:flex;justify-content:flex-start;align-items:center;flex-flow:row wrap}.list_item[data-v-84157a4a]{font-size:18px}.list_item~.list_item[data-v-84157a4a]{margin-left:18px}
