.collapse-content[data-v-62403cfe]{background:#17191a;color:#666}.collapse-content[data-v-62403cfe] .el-collapse-item__header,.collapse-content[data-v-62403cfe] .el-collapse-item__content{padding:0 12px;box-sizing:border-box}
